@use "../../scss/MediaBreakpoints.scss" as media;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__banner-image {
        position: relative;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }

        &-slogan,
        &-new-arrivals {
            text-align: center;
        }

        &-slogan {
            position: absolute;
            left: 25%;
            top: 20%;
            transform: translate(-50%, -20%);
            font: var(--font-text-1);
            font-size: 7vw;
            white-space: nowrap;
        }

        &-new-arrivals {
            position: absolute;
            left: 50%;
            top: 58%;
            transform: translate(-50%, -20%);
            font: var(--font-text-3);
            font-size: 3vw;
        }

        &-button-shop-now {
            position: absolute;
            left: 50%;
            top: 75%;
            transform: translate(-50%, -20%);
            width: unset;
        }

        animation-name: slide-up;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;

        @keyframes slide-up {
            from {
                opacity: 0;
                transform: translateY(16vh);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__header {
        font: var(--font-text-1);
        letter-spacing: 4px;
        text-align: center;
        padding-block: 4vh;
    }

    &__button-shop-all {
        width: unset;
        margin-block: 60px;
    }
}
