@use "../../scss/MediaBreakpoints.scss" as media;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__banner-image {
        position: relative;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }

        &-slogan,
        &-new-arrivals {
            text-align: center;
        }

        &-slogan {
            position: absolute;
            left: 5%;
            top: 25%;
            transform: translate(-5%, -25%);
            font: var(--font-text-1);
            font-size: 6vw;
            white-space: nowrap;
        }

        &-new-arrivals {
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translate(-50%, -65%);
            font: var(--font-text-3);
            font-size: 4vw;
            white-space: nowrap;

            @include media.lg {
                top: 75%;
                transform: translate(-50%, -75%);
            }
        }

        &-button-shop-now {
            position: absolute;
            left: 50%;
            top: 90%;
            transform: translate(-50%, -90%);
            width: unset;
            font-size: 12px;

            @include media.sm {
                font-size: 16px;
            }

            @include media.lg {
                width: 140px;
            }
        }

        animation-name: slide-up;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;

        @keyframes slide-up {
            from {
                opacity: 0;
                transform: translateY(16vh);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__header {
        font: var(--font-text-1);
        letter-spacing: 4px;
        text-align: center;
        padding-block: 4vh;
    }

    &__button-shop-all {
        width: unset;
        margin-block: 60px;
    }
}
