@use "../../../scss/MediaBreakpoints.scss" as media;

.number-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80px;
    height: 36px;
    padding: 8px;
    border: 1px solid white;

    @include media.xl {
        height: 20px;
    }

    ::-webkit-inner-spin-button {
        appearance: none;
        -webkit-appearance: none;
    }

    input {
        width: 100%;
        font: var(--font-text-2);
        background-color: transparent;
        outline: none;
        border: none;
        text-align: center;
    }

    &__button {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__icon {
        width: 16px;
        fill: white;

        @include media.xl {
            width: 12px;
        }

        &--arrow {
            width: 20px;

            @include media.xl {
                width: 16px;
            }
        }
    }

    &--with-arrow {
        input {
            text-align: unset;
        }
    }

    &__label {
        font: var(--font-text-2);
    }

    &__spinner-arrow-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include media.xl {
            gap: 4px;
        }
    }
}
