@use "../../scss/MediaBreakpoints.scss" as media;

.router-outlet {
    background-color: var(--secondary-bg-color);
    padding-inline: var(--padding-inline-root-xs);

    &--visible {
        opacity: 1;
    }

    @include media.sm {
        padding-inline: var(--padding-inline-root-sm);
    }
}
