@use "../../scss/MediaBreakpoints.scss" as media;

.router-outlet {
    background-color: var(--secondary-bg-color);
    padding-inline: 0;

    &--animate-navigation {
        animation-name: animate-navigation;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;

        @keyframes animate-navigation {
            from {
                opacity: 0;
                transform: translateY(20vh);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    @include media.sm {
        padding-inline: var(--padding-inline-root-sm);
    }
}
