@use "../../scss/MediaBreakpoints.scss" as media;

.header {
    position: sticky;
    top: 0;
    z-index: 9999;

    &__top-row {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        color: var(--main-font-color-dark);
        background-color: var(--main-bg-color);
        letter-spacing: 4px;
        font: var(--font-text-1);
    }

    &__columns {
        display: flex;
        padding-inline: var(--padding-inline-root-xs);
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--secondary-bg-color);
        height: 128px;
    }

    &__column {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__touch-search-bar {
        display: flex;
        justify-content: center;
        background-color: var(--secondary-bg-color);
        padding-bottom: 8px;
    }

    &__logo {
        width: 128px;
    }

    &__menu {
        width: 36px;
        fill: white;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    @include media.sm {
        &__columns {
            padding-inline: var(--padding-inline-root-sm);
        }
    }
}
