.base-dialog {
    border: none;
    transition: transform var(--base-dialog-animation-duration) ease-in-out;
    transform: translateY(100vh);
    padding: 12px;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.9);
    }

    &--opened {
        transform: translateY(0);
    }

    &--closed {
        transform: translateY(100vh);
    }

    &__header {
        display: flex;
        justify-content: right;
        margin-bottom: 8px;
    }

    &__close-button {
        width: 20px;
        padding: 8px;
        border: none;
        border-radius: 50%;
        fill: var(--font-color-light);
        cursor: pointer;

        &:hover {
            fill: white;
        }
    }
}
